#icon1 {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2300ms;

    animation-duration: 2s;
    animation-delay: 2300ms;
}

#icon2 {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2600ms;

    animation-duration: 2s;
    animation-delay: 2600ms;
}

#icon3 {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3000ms;

    animation-duration: 2s;
    animation-delay: 3000ms;
}

#icon4 {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}

#serviceIcon1{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2300ms;

    animation-duration: 2s;
    animation-delay: 2300ms;
}

#serviceIcon2{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2600ms;

    animation-duration: 2s;
    animation-delay: 2600ms;
}

#serviceIcon3{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3000ms;

    animation-duration: 2s;
    animation-delay: 3000ms;
}

#serviceIcon4{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}

#serviceIcon5{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}

#serviceIcon6{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}

#serviceIcon7{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}

#serviceIcon8{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}

#serviceIcon9{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}
#serviceIcon10{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}
#serviceIcon11{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}
#serviceIcon12{
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3400ms;

    animation-duration: 2s;
    animation-delay: 3400ms;
}