hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*HTML HEADER*/
h2 {
  font-size: 500%;
  font-family: 'Alegreya SC', serif;
  color: #000000;
  opacity: 0;
}

/*CONTENT HEADERS*/
h1 {
  font-size: 150%;
}


.navbar-brand {
  font-size: 100%;
  color: white;
  background-color: #000000;
  font-family: 'Roboto Condensed', serif;
}

.strokeme
{
    color: #00BFAB;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h3 {
  font-size: 100%;
  font-style: italic;
  color: gray;
}

p2 {
  font-size: 85%;
}

body {
  margin-top: 3%;
  margin-bottom: 10%;
}

/*NAV BAR*/

.navbar {
  background-color: #000000;
  font-family: 'Roboto Condensed', serif;
  min-height: 10px;
}

.navbar-link-coloring{
  color: #d4d2ff;
  font-size: 120%;
  margin-left : 1em;
  margin-right : 1em;
}


.navbar-brand {
  font-size: 150%;
  color: white;
  background-color: #000000;
  font-family: 'Roboto Condensed', serif;
}
