
/*-----------NAVBAR---------------------------------*/
#navbar-background {
  background-color: white;
  /*background-color: #E8E8E8;*/
  opacity: .7;
}


/*---------NAV LINKS--------------*/
/*ADAMKIM*/
.navbar-brand {
      color: black;
      opacity: 1;
      font-size:40px;
      margin-top: -90px;
      margin-right: -10px;
      font-family:'Fjalla One', sans-serif;
}

  /*the rest of links*/

.nav-link-plus {
      color: black;
  }
.nav-link-plus:hover{
      color: black;
      font-size: 40px;
      -webkit-text-stroke: .5px white;
      font-family:'Roboto Condensed', sans-serif;
  }



/* NAV padding from here*/
li {
    margin-left: -13px;
    margin-right: -2px;
    margin-top: -33px;
    margin-bottom: -50px;
    font-size: 35px;
    font-family: 'consolas', sans-serif;
  }

.navbar-nav > li > a, .navbar-brand {
    padding-top: -15px !important;
    padding-bottom: -50px !important;
      height: 20px;
  }
.navbar {
  min-height:50px !important;
}

#navbar-entirety {
    opacity: 0;
}


.fa {
  padding-right: 3px;
  padding-left: -5px;
}

/*navbar padding for mobile*/
.navbar-toggle {
     padding: 0 0;
     margin-top: 7px;
     margin-bottom: 0;
}

/*tohere*/

/*TYPEIT TEXT SETTING and HOME HEADER FOR FADEIN/OUT*/
#typeIt1 {
  color: black;
  font-size: 2em;
  font-family: 'Encode Sans', sans-serif;
  opacity: 1;
}
#header2{
  opacity: 0;
}

 /*ALL H SETTINGS*/
.caption1 {
  color: black;
  font-size: 400%;
  font-family: 'monospace', sans-serif;
  -webkit-text-stroke: 1px white;
}

/*ABOUT TEXT-------------------------*/
p2 {
  color: white;
  font-size: 110%;
  font-family: 'Encode Sans', sans-serif;
  /*-webkit-text-stroke: .5px white;*/
}
/*ABOUT ICON TEXT*/
.icon-text {
  color : #00FFFF;
  font-size: 95%;
  font-family: 'Passion One', cursive;
  -webkit-text-stroke: 1px black;
}


/*FOR SIZING ABOUT ICONS*/
.img-fluid-icons {
  display: block;
  max-width: 95%;
  height: auto;
  /*CENTERING*/
  margin-left: auto;
  margin-right: auto;
}

/*PORTFOLIO TEXT*/
p3 {
  color: black;
  font-size: 130%;
  font-family: 'Encode Sans', sans-serif;
  /*-webkit-text-stroke: 1px black;*/
}

/*CONTACT TEXT*/
p4 {
  color: white;
  font-size: 130%;
  font-family: 'Encode Sans', sans-serif;
  /*-webkit-text-stroke: 1px black;*/
}


/*ALL HEADER PADDING*/
.home-header-padding {
  padding-top: 10%;
}
.about-header-padding {
  padding-top: 5%;
}
.portfolio-header-padding {
  padding-top: 4%;
}
.contact-header-padding {
  padding-top: 6%;
}

/*BACKGROUND SETTINGS--------------------*/
body, html {
    height: 100%;
    width: 100%;
  }

/*HOME BACKGROUND*/
#home {
  height: 100%;
  width: 100%;
}
  .bg-home {
    /*STATIC BACKGROUND MODE*/
      /* The image used */

      /*POSTIMG LINK*/
      /* background-image: url('https://s19.postimg.org/6jbye1no3/12_-_e_ZDIJUO.jpg'); */
      /*IMGUR LINK*/
      background-image: url('https://imgur.com/eZDIJUO.png');
       /*PARALLAX IMGUR*/
     /*background: url('https://imgur.com/eZDIJUO.png') no-repeat center center fixed;*/
     /* LOCAL FILE */
     /* background-image: url('imgs\USED IMGS\12 - eZDIJUO.jpg'); */

      /* Full height */
      height: 100%;
      width: 100%;

      /* Center and scale the image nicely */
      background-position: cover;
      background-repeat: no-repeat;
      background-size: cover;

      opacity: 0;

/*FIXES PROTRUDING WAVEFORM*/
/*Must be used on a parent div in this case bg-home*/
   position:absolute;
   overflow: hidden;
}

  /* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position:top;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 1;
}

/*ABOUT BACKGROUND*/
#about {
  height: 100%;
  width: 100%;
}

  .bg-about {
      /* The image used */
      /*ADD FIXED POSITION METHOD AT THE END*/
      /*POST IMG LINK*/
      /* background-image: url('https://s19.postimg.org/76av3kkk3/unv_ONLG_-_Imgur.jpg'); */
      /*IMGUR LINK*/
      /* background-image: url('https://imgur.com/unvONLG.png'); */
      /*PARALLAX IMGUR*/
       background: url('https://imgur.com/unvONLG.png') no-repeat center center fixed;
       /* LOCAL FILE */
     /* background-image: url('imgs/used imgs/eZDIJUO.png'); */
     /* LOCAL FILE PARALLAX*/
     /* background-image: url("imgs/used imgs/unvONLG.png") no-repeat center center fixed; */

      /* Full height */
      height: 100%;
      width: 100%;

      /* Center and scale the image nicely */
      background-position: cover;
      background-repeat: no-repeat;
      background-size: cover;
    }

/*PORTFOLIO BACKGROUND*/
#portfolio {
  height: 100%;
  width: 100%;
}
  .bg-portfolio {
      /* The image used */
      /*ADD FIXED POSITION METHOD AT THE END*/
      /*POST IMG LINK*/
      /* background-image: url('https://s19.postimg.org/7mw2q08b7/website-design-background.png'); */
      /*IMGUR LINK*/
      background-image: url('https://imgur.com/LCyds0s.png');
      /*PARALLAX IMGUR LINK*/
      /*background: url('https://imgur.com/LCyds0s.png') no-repeat center center fixed;*/
      /* LOCAL FILE */
     /* background-image: url("imgs\used imgs\LCyds0s.png"); */

      /* Full height */
      height: 100%;
      width: 100%;

      /* Center and scale the image nicely */
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

/*CONTACT BACKGROUND*/
#contact {
  height: 100%;
  width: 100%;
}
  .bg-contact {
      /* The image used */
      /*ADD FIXED POSITION METHOD AT THE END*/
      /*POST IMG LINK*/
      /* background-image: url('https://s19.postimg.org/sh8f7u2oj/night-walk-park-hd-wallpaper.jpg'); */
      /*IMGUR LINK*/
      /* background-image: url('https://imgur.com/VNKyPer.png'); */
      /*PARALLAX IMGUR LINK*/
      background: url('https://imgur.com/VNKyPer.png') no-repeat center center fixed;
      /* LOCAL FILE */
       /* background-image: url('imgs/used imgs/VNKyPer.png'); */
      /* LOCAL FILE PARALLAX*/
      /* background-image: url('imgs/used imgs/VNKyPer.png') no-repeat center center fixed; */

      /* Full height */
      height: 100%;
      width: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


/*PROJECT IMG TEXT & COLOR & CENTERING*/
/*MUST BE ON PARENT*/
.project-text-positioning1{
  position:relative;
  opacity: 1;
}
/*MUST BE ON CHILD*/
.project-text-positioning2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 70%;
  color: red;
  background-color: black;
  opacity: 1;
}

/**/
/*BORDERS THE WHOLE PJ IMG*/
.project-text-positioning1:hover{
  border: 2px inset black;
  opacity: 1;
}
.project-text-positioning2:hover{
  opacity: 1;
}



.project1 {
  /*POST IMG LINK*/
  /* background-image: url('https://s19.postimg.org/qkbp39c0j/BElp_XGH_-_Imgur.png'); */
  /*IMGUR LINK*/
  background-image: url('https://imgur.com/BElpXGH.png');
  /* LOCAL FILE */
  /* background-image: url('imgs/used imgs/BElpXGH.png'); */
  

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 25%;
  max-width: 100%;
  border: 3px outset gray;
}

.project2 {
  /*POST IMG LINK*/
  /* background-image: url('https://s19.postimg.org/pqz3an5zn/GFB074_F_-_Imgur.png'); */
  /*IMGUR LINK*/
  background-image: url('https://imgur.com/GFB074F.png');
  /* LOCAL FILE */
  /* background-image: url('imgs/used imgs/GFB074F.png'); */

  /* Full height */
  height: 98%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 25%;
  max-width: 100%;
  border: 3px outset gray;
}

.project3 {
  /*POST IMG LINK*/
  /* background-image: url('https://s19.postimg.org/jejy0t2xf/Xx3_HTl0_-_Imgur.png'); */
  /*IMGUR LINK*/
  background-image: url('https://imgur.com/Xx3HTl0.png');
  /* LOCAL FILE */
  /* background-image: url('imgs/used imgs/Xx3HTl0.png'); */

  /* Full height */
  height: 98%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 25%;
  max-width: 100%;
  border: 3px outset gray;
}

.project4 {
  /*POST IMG LINK*/
    /* background-image: url('https://s19.postimg.org/gbntb6dcj/r_Iv1p_Qa_-_Imgur.png'); */
  /*IMGUR LINK*/
  background-image: url('https://imgur.com/rIv1pQa.png');
  /* LOCAL FILE */
  /* background-image: url('imgs/used imgs/rIv1pQa.png'); */

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 25%;
  max-width: 100%;
  border: 3px outset gray;
}

.project5 {
  /*POST IMG LINK*/
  /* background-image: url('https://s19.postimg.org/m2n6ge043/Mspivk_N_-_Imgur.png'); */
  /*IMGUR LINK*/
  background-image: url('https://imgur.com/MspivkN.png');
  /* LOCAL FILE */
  /* background-image: url('imgs/used imgs/MspivkN.png'); */


  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 25%;
  max-width: 100%;
  border: 3px outset gray;
}

.project5:hover {
  /*POST IMG LINK*/
    /* background-image: url('https://s19.postimg.org/4jxqmkv0z/h2_Dz_Ac_N_-_Imgur.png'); */
  /*IMGUR LINK*/
  background-image: url('https://imgur.com/h2DzAcN.png');
  /* LOCAL FILE */
  /* background-image: url('imgs/used imgs/h2DzAcN.png'); */

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 25%;
  max-width: 100%;
  border: 3px outset gray;
}

.project6 {
  /*POST IMG LINK*/
    /* background-image: url('https://s19.postimg.org/l03t6d2j7/Omc_P4_HY_-_Imgur.png'); */
  /*IMGUR LINK*/
  background-image: url('https://imgur.com/OmcP4HY.png');
  /* LOCAL FILE */
  /* background-image: url('imgs/used imgs/OmcP4HY.png'); */

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-height: 25%;
  max-width: 100%;
  border: 3px outset gray;
}

.project6:hover{
    /*POST IMG LINK*/
      /* background-image: url('https://s19.postimg.org/5xpdhvuab/image.png'); */
    /*IMGUR LINK*/
    background-image: url('https://imgur.com/nw1zJ3G.png');
    /* LOCAL FILE */
    /* background-image: url('imgs/used imgs/nw1zJ3G.png'); */
    

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-height: 25%;
    max-width: 100%;
    border: 3px outset gray;
}















/*CONTACT ICON SETTINGS*/
.fa-circle{
  color:white;
}
.fa-github{
  color: #24292E;
}
.fa-free-code-camp{
  color: #006400;
}
.fa-codepen{
  color: #000000;
}
.fa-linkedin{
  color: #0077B5;
}
.gmail-red{
  color: #B33224;
}
.fa-twitter{
  color: #1DA1F2;
}

/*CONTACT ICON TEXT SETTINGS*/
.contact-link-color {
  }
.contact-link-color:hover{
      font-size: 150%;
      text-decoration: none;
}

/*OUTLINE FOR TEXT ONLY ON CONTACT LINKS*/
.contact-link-outline {
  color:white;
  font-size: 150%;
  font-family:'Fjalla One', sans-serif;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
}

.contact-link-outline:hover {
  color:white;
  font-family:'Fjalla One', sans-serif;
  -webkit-text-stroke: 1px black;
  text-decoration: none;
}
